/*
body{
    margin: 0;
    padding: 0;
    background: url(backg1.gif) no-repeat center fixed;
    background-size: cover;
    width: 146px;
    height: 150px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    transition: 0.8s;
}
p:hover{
    color: rgb(8, 8, 8);
}
a{
    text-decoration: none;
    text-align: center;
    display: block;
}
div{
    background-color: rgba(137, 43, 226, 0.356);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    translate: -620px 250px;
    scale: 1.5;

}
.enter{
    font-size: medium;
}
    */
    body {
    margin: 0;
    padding: 0;
    background: url(backg1.gif) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.phone {
    background-color: rgba(137, 43, 226, 0.4);
    width: 300px;
    height: 60px;
    margin: 200px auto; 
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.enter {
    color: white;
    font-size: 20px;
    margin: 0;
    transition: 0.5s;
}

.enter:hover {
    color: black;
}


a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .phone {
        width: 90%;       
        height: 70px;
        margin-top: 150px;
    }

    .enter {
        font-size: 18px;
    }
    body{
        margin: 0;
        padding: 0;
        background: url(reze_cov_2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 75vh;
    }
}


